body{
    background-image: url("black.jpeg");   
    background-repeat: no-repeat;
    background-size: cover;
    
}

ul{
    display:flex;
    height:10vw;
    background-image: url("shopify.jpg");
    background-repeat: no-repeat;
    max-width: 1500px;
    margin-top: 0px; 
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}

ul li{
    padding:40px;
    list-style-type: none;
}

.home{
    color:#c80629;
    text-decoration: none;
    font-size: 14px;
    font-family:'Crimson Text',serif;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 0.2em
}

#about{
    color:#c80629;
    text-decoration: none;
    font-size: 14px;
    font-family:'Crimson Text',serif;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 0.2em;

}

.title{
    margin-right: 38px;
    width:190px;
}

.home:hover{
    text-decoration: underline;
    text-underline-offset: 0.7em;
    text-decoration-thickness: 0.21em;
}

#about:hover{
    text-decoration: underline;
    text-underline-offset: 0.7em;
    text-decoration-thickness: 0.21em;

}

.header{
   background-image: url("puppets.gif");
   height:750px;
   background-size: cover;
   background-repeat: no-repeat;
   
}